body {
    margin: 0;
  }
  header {
    background-color:white;
    padding: 10px 15px 10px 15px;
  }
  .nameTag {
    display: inline-block;
    padding-left: 15px;
  }
  .name {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 36px;
  }
  .title {
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
  }
  header ul {
    float: right;
    margin-top: 15px;
    color: black;
    font-family: 'Blinker', sans-serif;
  }
  header li {
    display: inline-block;
    padding: 15px 15px;
  }
  header p {
    display: inline-block;
  }
  #banner {
    padding: 20px;
  }
  .myUX {
    background-color: #003865;
    display: block;
    margin: 0;
    font-family: 'Blinker', sans-serif;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
  }
  button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  footer {
    background-color: white;
    padding: 5px;
    color: black;
    right: 15px;
    position: fixed;
    bottom: 0;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 15px;
    font-family: 'Blinker', sans-serif;
  }
 h2 {
   font-family: 'Blinker', sans-serif;
   font-weight: 500;
   color: white;
}
 p {
   font-family: 'Blinker', sans-serif;
}
 h3 {
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
    color: white; 
}
 #mySkills {
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillBlock {
    text-align: center;
    background-color: #DFE3E5;
    padding: 25px;
    height: 500px;
    width: 600px;
    margin: 15px;
    box-shadow: 0px 0px 10px 4px rgb(198, 211, 216, .3);
    align-content: center;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 26px;
}