body {
    margin: 0;
  }
  header {
    background-color:white;
    padding: 10px 139px 10px 139px;
  }
  .nameTag {
    display: inline-block;
    padding-left: 15px;
  }
  .name {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 36px;
  }
  .title {
    font-family: 'Blinker', sans-serif;
    font-size: 18px;
  }
  header ul {
    float: right;
    margin-top: 15px;
    color: black;
    font-family: 'Blinker', sans-serif;
  }
  header li {
    display: inline-block;
    padding: 15px 15px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-color: white;
    padding: 15px 400px 15px 400px;
    font-family: 'Blinker', sans-serif;
  }
  .content {
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  footer {
    background-color: white;
    padding: 5px;
    color: black;
    float: right;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 15px;
    font-family: 'Blinker', sans-serif;
  }
h2 {
  font-family: 'Blinker', sans-serif;
  font-weight: 500;
  color: white;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 36px;
}